*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
.section{
    height: 500px;
    width: 800px;
    
    margin: 0 auto;
    padding: 5px;
}
.column{
   background-color: white;
   width: 100%;
   display: flex;
   padding: 0 5px;
}
.box{
    display: flex;
    padding: 0px 5px;
}
.first-box{
    border-right: 2px solid black;
    width: fit-content;
    
}
input[type=number]
{
    outline: none;
    border: none;
    width: 50px;
    color: black;
    font-size: 24px;
    padding: 10px 0px;
    margin-left: 10px;
}
.secondbox{
    border-right: 2px solid black;
    width: fit-content;
}
button{
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 300;
    background: transparent;
    padding: 10px 16px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
button:hover{
    background-color:black;
    color: white;
}
button.active{
    background-color: azure;
    color: brown;
}
.thirdbox{
    border-right: 2px solid black;
    width: fit-content;
}
.thirdbox button:focus{
    background-color: azure;
    color: brown;
}
input [type=color]{
    width: 40px;
    outline: none;
    border: none;
    background: none;
}
textarea{
    width: 100%;
    height: 350px;
    padding: 10px;
    outline: none;
    border: none;
    resize: vertical;
}
