*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.805);
}
.container {
    max-width: 800px;
    min-width: 500px;
    justify-self: center;
    padding: 20px;
    
    font-family: sans-serif;
}
.container button{
    cursor:pointer; 
    padding: 8px 15px; 
    border-radius: 20px; 
    background-color: rgb(5, 156, 5);
    border: 2px solid white;
  
    color: white;
}
#blog-title{
    margin-top: 20px;
    text-align: center;
}
#blog-author{
font-weight: bold; 
color: white;
}
#blog-content{
color: white;
line-height: 1.6;
  font-size: 18px;
 margin-top: 20px;

}
#blog-content p{
color: white !important;

}
#blog-content a{
    color: blue;
}

